@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html {
  padding: 0;
  margin: 0; }
  html body {
    font-family: "Open Sans", "Helevetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 0; }
    html body nav {
      position: relative;
      top: 0px;
      left: 0px;
      width: 100%;
      border-radius: 0 !important;
      margin-left: 0 !important;
      margin-right: 0 !important; }
      html body nav :first-child {
        font-size: 1.5rem !important; }
  html .github-icon {
    width: 35px;
    float: left;
    display: inline-block; }
  html a {
    text-decoration: underline;
    color: #000; }
  html a:hover {
    text-decoration: none; }
